{% extends "base_generic.html" %}

{% block content %}

    <!-- <form action="" method="post">
      <table>
        <tr>
          <td> <label for="userID">user name:</label> </td>
          <td> <input id="userID" type="text" name="userID" style="background-color: black"> </td>
        </tr>
        <tr>
          <td> <label for="password">password:</label> </td>
          <td> <input id="password" type="text" name="password" style="background-color: black"> </td>
        </tr>
      </table>
      <input type="submit" name="ok" value="註冊" style="background-color:black;">
    </form> -->

<div class="row">
  <h1 style="margin-bottom: 20px">註冊</h1>
</div>

<form action="" method="post">

  <div class="form-group row">
    <label for="studentName" class="col-sm-1 col-form-label" style="text-align: left">學生姓名</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="studentName" name="studentName" placeholder="請輸入學生姓名">
    </div>
  </div>

  <div class="form-group row">
    <label for="parentName" class="col-sm-1 col-form-label" style="text-align: left">家長姓名</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="parentName" name="parentName" placeholder="請輸入家長姓名">
    </div>
  </div>

  <div class="form-group row">
    <label for="cipher" class="col-sm-1 col-form-label" style="text-align: left">授權碼</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="cipher" name="cipher" placeholder="請輸入授權碼">
    </div>
  </div>


  <div class="form-group row">

    <label for="userID" class="col-sm-1 col-form-label" style="text-align: left">自訂帳號</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="userID" name="userID" placeholder="請輸入使用者名稱">
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-1 col-form-label" style="text-align: left">自訂密碼</label>
    <div class="col-sm-4">
      <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-4">
      <input type="submit" name="ok" value="註冊" class="w3-button main-btn" style="background: var(--main-blue); width: 60%;">
    </div>
  </div>
  
</form>


{% endblock %}